-r ../requirements.txt

# Dependecia do Backend
pytest==8.4.0
pytest-cov==4.1.0
requests==2.31.0

# Dependencias do Frontend

# 1) instalar dependências do frontend (apenas se ainda não instalou)
# cd frontend
# npm install

# 2) instalar dependências do runner de testes (Playwright) e navegadores
# cd tests/tests-frontend
# npm install
# npx playwright install

# 3) rodar testes (a partir da pasta de testes)

# npm run test:e2e
# ou a partir da raiz
# npm --prefix tests/tests-frontend run test:e2e
